a.markdown-btn {
  font-size: inherit;
  font-family: inherit;
  color: var(--theme);
  background-color: var(--primary);

  border: 2px solid var(--theme);
  border-radius: 10px;;
  text-align: center;
  padding: 5px 1em 5px 1em;
  text-decoration: none;
  cursor: pointer;
}

a.markdown-btn:hover, a.markdown-btn:active {
  text-decoration: none;
  background-color: var(--secondary);
  color: var(--theme);
}