{{ $buttonText := .Get "text" }}
{{ $buttonLink := .Get "link" }}

<div class="centered-button">
  <a href="{{ $buttonLink }}" class="button" target="_blank">{{ $buttonText }}</a>
</div>

<style>
.centered-button {
  text-align: center;
  margin: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary);
  color: var(--theme) !important;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.button:hover, .button:active{
  background-color: var(--secondary);
}

</style>